<listaDeConfiguracoes>
<configuracao>
    <host>itecbrazil.com.br:21</host>
    <usuario>itecgyn</usuario>
    <senha>itec261002/*</senha>
    <dirFornFtpReader>ftp-teste/retorno</dirFornFtpReader>
    <dirFornFtpWriter>ftp-teste/envio</dirFornFtpWriter>
    <cnpj>1</cnpj>
</configuracao>
</listaDeConfiguracoes>